
<div class="home-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Upwork Test Project</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Simple example for upwork - test - project
        </p>
        <p>
          You can check this project for your message app.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="black" (click)="navigateToMessages()">
          View messages
        </button>
      </mat-card-actions>
    </mat-card>
  </div>